<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.test.app_project2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Project2">
        <activity
            android:name=".RegisterRepActivity"
            android:exported="true" />
        <activity
            android:name=".LoginRepActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsLanguageRepActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsRepActivity"
            android:exported="true" />
        <activity
            android:name=".SearchRepActivity"
            android:exported="true" />
        <activity
            android:name=".HomeRepActivity"
            android:exported="true" />
        <activity
            android:name=".MessageAlinaRepActivity"
            android:exported="true" />
        <activity
            android:name=".MessageDanilRepActivity"
            android:exported="true" />
        <activity
            android:name=".MessageUserRepActivity"
            android:exported="true" />
        <activity
            android:name=".MessageRepActivity"
            android:exported="true" />
        <activity
            android:name=".AccountEditRepActivity"
            android:exported="true" />
        <activity
            android:name=".AccountRepActivity"
            android:exported="true" />
        <activity
            android:name=".FleitaRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".SkripkaRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".PianoRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".GitaraRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".ChineseRepaddActivity"
            android:exported="true" />
        <activity
            android:name=".ItalianRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".KyrgyzRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".FrenchRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".RussianRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".GermanRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".EnglishRepAddActivity"
            android:exported="true" />
        <activity
            android:name=".GitaraRepActivity"
            android:exported="true" />
        <activity
            android:name=".FleitaRepActivity"
            android:exported="true" />
        <activity
            android:name=".PianoRepActivity"
            android:exported="true" />
        <activity
            android:name=".SkripkaRepActivity"
            android:exported="true" />
        <activity
            android:name=".ChineseRepActivity"
            android:exported="true" />
        <activity
            android:name=".ItalianRepActivity"
            android:exported="true" />
        <activity
            android:name=".KyrgyzRepActivity"
            android:exported="true" />
        <activity
            android:name=".FrenchRepActivity"
            android:exported="true" />
        <activity
            android:name=".RussianRepActivity"
            android:exported="true" />
        <activity
            android:name=".GermanRepActivity"
            android:exported="true" />
        <activity
            android:name=".EnglishRepActivity"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".FleitaActivity"
            android:exported="true" />
        <activity
            android:name=".SkripkaActivity"
            android:exported="true" />
        <activity
            android:name=".PianoActivity"
            android:exported="true" />
        <activity
            android:name=".GitaraActivity"
            android:exported="true" />
        <activity
            android:name=".ItalianActivity"
            android:exported="true" />
        <activity
            android:name=".ChineseActivity"
            android:exported="true" />
        <activity
            android:name=".KyrgyzActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsLanguageActivity"
            android:exported="true" />
        <activity
            android:name=".FrenchActivity"
            android:exported="true" />
        <activity
            android:name=".RussianActivity"
            android:exported="true" />
        <activity
            android:name=".GermanActivity"
            android:exported="true" />
        <activity
            android:name=".AccountEditActivity"
            android:exported="true" />
        <activity
            android:name=".MessageSamActivity"
            android:exported="true" />
        <activity
            android:name=".MessageJamesActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".EnglishActivity"
            android:exported="true" />
        <activity
            android:name=".MessageAlexActivity"
            android:exported="true" />
        <activity
            android:name=".MessageAnnaActivity"
            android:exported="true" />
        <activity
            android:name=".MessageTimurActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".MessageActivity"
            android:exported="true" />
        <activity
            android:name=".AccountActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>